.Cards{
    display: flex;
    gap: 10px;
}

.parentContainer{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .Cards{
        flex-direction: column;
        gap: 2rem;
    }
    .parentContainer{
        height: 9rem;
    }
}